.NavBar{
    margin: auto;
    width: 80%;
    margin-top: 5vh;
    /* height: 5%; */
    background-color: black;
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    padding: 2px;
    background-color: rgb(88, 83, 83);

}
form{
    width: 100%;
}
.NavBar form input{
    width: 20%;
    height: 22px;
    min-width: 160px;
}
.NavBar form button{
    width: 58px;
    height: 28px;
}
.drop{
    width: 25%;
}
@media screen and (max-width:500px) {
    .NavBar{
        margin-top: 0vh;
        width: 100%;
    }
}