.NavBar{
    margin: auto;
    width: 80%;
    margin-top: 5vh;
    /* height: 5%; */
    background-color: black;
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    padding: 2px;
    background-color: rgb(88, 83, 83);

}
form{
    width: 50%;
}
.NavBar form input{
    width: 40%;
    height: 22px;
}
.NavBar form button{
    width: 58px;
    height: 3.45vh;
}
.btn{
    font-size: 20px;
}
.drop{
    width: 25%;
}